<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
   http://www.springframework.org/schema/context
   http://www.springframework.org/schema/context/spring-context-3.0.xsd">
	<!-- for annotation -->
	<context:annotation-config />
	<bean id="student" class="boothello.SpringAutowiringexample.Student">
		<property name="studentid" value="${studentid}"></property>
		<property name="studentname" value="${studentname}"></property>
		<!-- <property name="address" ref="addressref1"></property> ( if you this 
			no need to use @autowired) -->
	</bean>
	<bean id="addressref1" class="boothello.SpringAutowiringexample.Address">
		<property name="addressid" value="101"></property>
		<property name="addressname" value="btm"></property>
	</bean>

	<!-- <bean id="addressref2" class="boothello.SpringAutowiringexample.Address"> 
		<property name="addressid" value="201"></property> <property name="addressname" 
		value="sikboard"></property> </bean> -->
	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">

		<property name="location">
			<value>apparao.properties</value>
		</property>
	</bean>
</beans>